<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
  <h1>Login Page</h1>
  <form action = "" method = "post">
      {% csrf_token %}
      <lable for = "uname" ><b>Username</b></lable>
      <br>
      <input type = "text" placeholder = "Enter Username ..." name = "uname" required>
      <br><br>
      <lable for = "pass" ><b>Password</b></lable>
      <br>
      <input type = "password" placeholder = "Enter Password" name = "pass" required>
      <br><br>
      <button type = "submit">Login</button>
      <br><br>
      <p style="color:red">{{err}}</p>
  </form>
</body>
</html>