<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table {
        border-collaps: collapse;
        width: 50%;
        align: center;
        }
        th , td {
        padding: 8px;
        text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
    <h3>{{job.name}}</h3>
    <hr>
    <table>
        <tr>
            <th>{{job.time}} day</th>
            <th>{{job.price}}T</th>
            <th>{{job.pub_date}}</th>
        </tr>
    </table>
    <p>Detail : {{job.detail}}</p>
</body>
</html>