<head>
<style>
table {
        border-collaps: collapse;
        align: center;
}
th , td {
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid black;
}
a.btn {
        padding: 15px 25px;
        background-color: #157894;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
}
a.btn:hover{
        background-color: #156989;

</style>
</head>
<body>
        <div style="display:inline-block">
                <table>
                        <tr>
                                <th></th>
                                <th>صاحب کار</th>
                                <th>تخمین زمانی</th>
                                <th>ارزش کار</th>
                                <th>عنوان کار</th>
                        </tr>
                        {% for job in page_object %}
                            <tr>
                                    <td><a class='btn' href='../job{{job.id}}'>توضیحات</a></td>
                                    <td>{{job.owner}}</td>
                                    <td>{{job.time}}</td>
                                    <td>{{job.price}}</td>
                                    <td>{{job.name}}</td>
                            </tr>
                        {% endfor %}
                </table>
        </div>
        <div style="display:inline-block;align:right">
                <a class="btn" href="../addjob" style="align:right">افزودن کار</a>
        </div>
</body>